.App {
  text-align: center;
}

/* fonts */
.barriecito-regular {
  font-family: "Barriecito", serif;
  font-weight: 400;
  font-style: normal;
}

.mallanna-regular {
  font-family: "Mallanna", serif;
  font-weight: 400;
  font-style: normal;
}

.fragment-mono-regular {
  font-family: "Fragment Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.schibsted-grotesk {
  font-family: "Schibsted Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.branding-text {
  font-family: "Modak", serif;
  font-weight: 400;
  font-style: normal;
}

.foaf {
  font-size: 7em;
  z-index: -1;
  fill: #116EB7;
}

/* default styles */
.default-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

/* homepage */
.home {
  background-color: #F4F3DE;

  h1 {
    font-size: 8em;
    margin-bottom: 0em;
  }

  p {
    font-size: 1.5em;
  }
}