.App {
  text-align: center;
}

/* fonts */
.barriecito-regular {
  font-family: "Barriecito", serif;
  font-weight: 400;
  font-style: normal;
}

.mallanna-regular {
  font-family: "Mallanna", serif;
  font-weight: 400;
  font-style: normal;
}

.fragment-mono-regular {
  font-family: "Fragment Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.branding-text {
  font-family: "Modak", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7em;
  z-index: -1;
  fill: #116EB7;
}

/* default styles */
.default-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

/* homepage */
.home {
  background-color: #F4F3DE;

  h1 {
    font-size: 8em;
    margin-bottom: 0em;
  }

  p {
    font-size: 1.5em;
  }
}

/* navbar styles */

.navbar {
  position: fixed;
  top: .75vh;
  margin-right: 4em;
}

.navbar > li {
  background-color: transparent;
  z-index: 1;
  display: inline-block;
  margin-right: .75em;
  list-style: none;
}

.navbar li {
  a {
    text-decoration: none;
    color: #2D2424;
    background-color: white;
    padding: 7px 10px;
    border-radius: 20px;
  }

  a:hover {
    background-color: #2D2424;
    cursor: pointer;
    color: white;
  }
}

/* events modal styling */
.modal-container {
  height: max-content;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 5px;

  .close-btn {
    background-color: transparent;
    border: .5px solid #2D2424;
    border-radius: 25px;
    font-size: 20px;
    align-self: flex-end;
  }
}

.upcoming-events-modal {
  background-color: white;
  color: #2D2424;
}

.event-item {
  border-radius: 12px;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 4em;
    margin: 0;
    z-index: 0;
  }

  p {
    line-height: 1.7em;
    font-size: 20px;
    max-width: 75%;
  }

  .signup-button {
    width: 50%;
    border: 1px solid #2D2424;
    padding: 10px 0px;
    text-decoration: none;
    color: #2D2424;
  }
}

/* event page styling */