.App {
  text-align: center;
}

/* fonts */
.barriecito-regular {
  font-family: "Barriecito", serif;
  font-weight: 400;
  font-style: normal;
}

.mallanna-regular {
  font-family: "Mallanna", serif;
  font-weight: 400;
  font-style: normal;
}

.fragment-mono-regular {
  font-family: "Fragment Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.schibsted-grotesk {
  font-family: "Schibsted Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.branding-text {
  font-family: "Modak", serif;
  font-weight: 400;
  font-style: normal;
}

.foaf {
  font-size: 7em;
  z-index: -1;
  fill: #116EB7;
}

/* default styles */
.default-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

/* homepage */
.home {
  background-color: #F4F3DE;
  padding: 0 1em;

  h1 {
    font-size: 8em;
    margin-bottom: 0em;
  }

  p {
    font-size: 1.5em;
  }
}

.admin-login-button {
  background-color: white;
  color: #2D2424;
  padding: .25em .45em;
  border-radius: 30px;
  position: fixed;
  bottom: 2em;
  right: 2em;
  box-shadow: 0 1px 7px black;
  
  &:hover {
    background-color: #2D2424;
    cursor: pointer;
    color: white;
  }
}